html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 10px;
}

.ctn-form {
    margin-bottom: 20px;
}

.item {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
}

#resultado {
    text-align: center;
    margin-top: 20px;
}


